<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="importFragment">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Default Title -->
<th:block layout:fragment="title">
	<title>Client Page</title>
</th:block>
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/drill/favicon.png}" />
<!-- Basic Styles -->
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/vendor/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/vendor/bootstrap-datepicker.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/vendor/bootstrap-select.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/drill/common.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/drill/style.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/indicator.css}" />
<!-- Custom CSS -->
<th:block layout:fragment="css"></th:block>
<!-- Base libs JS -->
<script type="text/javascript" th:src="@{/js/vendor/polyfill.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/bootstrap-datepicker.ko.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/jquery.blockUI.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/underscore.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/moment.min.js}"></script>
<!-- Custom Common JS -->
<th:block layout:fragment="topScript"></th:block>
</head>
</html>
